<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/common.css">
</head>
<body>
<div th:replace="student/common::top-comm"></div>
<div class="container">
    <div class="body-comm">
        <div th:replace="student/common::left-comm"></div>
        <div class="center-comm">
            <div class="layui-font-16">学生管理系统</div>
        </div>
        <div th:replace="student/common::right-comm"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="../../static/js/common.js"></script>

</body>
</html>