<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/common.css">
  <style>
    .zzz{
      width: 30%;
    }
  </style>
</head>
<body>

<div th:replace="student/common::top-comm"></div>
<div class="container">
  <div class="body-comm">
    <div th:replace="student/common::left-comm"></div>
    <div class="center-comm">
      <form class="layui-form" th:action="@{/toReplace}">
        <div class="layui-form-item">
          <label class="layui-form-label">姓名</label>
          <div class="layui-input-inline">
            <input type="text" name="name" required lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
          </div>
          <div class="layui-form-mid layui-word-aux"></div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">学号</label>
          <div class="layui-input-inline">
            <input type="text" name="no" required lay-verify="required" placeholder="请输入学号" autocomplete="off" class="layui-input">
          </div>
          <div class="layui-form-mid layui-word-aux"></div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">现寝室栋号</label>
          <div class="layui-input-block zzz">
            <select name="city" lay-verify="required">
              <option value=""></option>
              <option value="1栋">1栋</option>
              <option value="2栋">2栋</option>
              <option value="3栋">3栋</option>
              <option value="4栋">4栋</option>
              <option value="5栋">5栋</option>
            </select>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">现寝室号</label>
          <div class="layui-input-inline">
            <input type="text" name="dorm1" required lay-verify="required" placeholder="请输入寝室号" autocomplete="off" class="layui-input">
          </div>
          <div class="layui-form-mid layui-word-aux"></div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">换寝室栋号</label>
          <div class="layui-input-block zzz">
            <select name="city1" lay-verify="required">
              <option value=""></option>
              <option value="1栋">1栋</option>
              <option value="2栋">2栋</option>
              <option value="3栋">3栋</option>
              <option value="4栋">4栋</option>
              <option value="5栋">5栋</option>
            </select>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">更换寝室号</label>
          <div class="layui-input-inline">
            <input type="text" name="dorm2" required lay-verify="required" placeholder="请输入寝室号" autocomplete="off" class="layui-input">
          </div>
          <div class="layui-form-mid layui-word-aux"></div>
        </div>
        <div class="layui-form-item">
          <div class="layui-input-block">
            <input type="submit" class="layui-btn" value="立即提交">
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          </div>
        </div>
      </form>
    </div>
    <div th:replace="student/common::right-comm"></div>
  </div>
</div>

<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="../../static/layui/layui.js"></script>
<script src="../../static/js/common.js"></script>
</body>
</html>