<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">

    <style>
        table{
            width: 100%;
            margin: 0 auto;
        }
        div{
            width: 48%;
        }
    </style>
</head>
<body>
<div>
        <table class="layui-table">
            <tr>
                <th>学号</th>
                <th>姓名</th>
                <th>换前寝室</th>
                <th>换后寝室</th>
                <th>换前楼栋</th>
                <th>换后楼栋</th>
                <th>申请</th>
            </tr>
            <tr  th:each="dorm,dormStat : ${changedorm}">
                <td th:text="${dorm.STUDENT_ID}">Onions</td>
                <td th:text="${dorm.STUDENT_NAME}">test@test.com.cn</td>
                <td th:text="${dorm.BEFORE_DORM_NAME}">yes</td>
                <td th:text="${dorm.AFTER_DORM_NAME}">状态变量：index</td>
                <td th:text="${dorm.BEFORE_BUILDING_NAME}">状态变量：count</td>
                <td th:text="${dorm.AFTER_BUIDING_NAME}">状态变量：size</td>
                <td th:text="${dorm.yes}">
                    <form th:if="${dorm.yes}">
                        <input type="radio" name="agree" value="同意">同意
                        <input type="radio" name="agree" value="拒绝"  checked>拒绝
                    </form>
                </td>
            </tr>
        </table>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                </div>
            </div>
</div>
</body>
</html>