<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../../static/css/common.css">
  <link rel="stylesheet" href="../../static/layui/css/layui.css">
</head>
<body>
<div class="top-comm" th:fragment="top-comm">
  <div class="nav">
    <div class="nav-left">
      <div>学生宿舍管理系统</div>
    </div>
    <div style="display: none">
      <form id="logout-form" th:action="@{/logout}" method="post"></form>
    </div>
    <div class="nav-right">
      <div><a id="logout-a" href="javascript:logout()"><i class="icon layui-icon layui-icon-logout"></i><span>退出登录</span></a></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="body-comm">
    <div class="left-comm" th:fragment="left-comm">
      <div class="left-top">
        <div>管理员端功能</div>
        <hr>
      </div>
      <div class="left-bottom">
        <div><a th:href="@{/admin/index}">系统介绍</a></div>
        <div><a th:href="@{/admin/change}">修改个人信息</a></div>
        <div><a th:href="@{/admin/seek}">查询学生信息</a></div>
        <div><a th:href="@{/admin/changedorm}">换寝管理</a></div>
        <div><a th:href="@{/pay}">报修查询</a></div>
      </div>
    </div>
    <div class="center-comm">
    </div>
    <div class="right-comm" th:fragment="right-comm">
      <div><img src="../../static/img/logo.png" alt=""></div>
      <div><span>姓名: </span><span id="adminName"></span></div>
      <div><span>编号: </span><span id="adminId"></span></div>
      <div><span>电话: </span><span id="adminTel"></span></div>
    </div>
  </div>
</div>
</body>
</html>