*{
    font-family: Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
}

.paybody{
    height: 60px;
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.layui-form-item{

}