<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
  <script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>
</head>

<body>
<div th:replace="common::top-comm"></div>
<div class="container">
  <div class="body-comm">
    <div th:replace="common::left-comm"></div>
    <div class="center-comm">
      <form id="login" class="layui-form" th:action="@{/tochange}">
        <div class="layui-form-item">
          <label class="layui-form-label">电话号</label>
          <div class="layui-input-inline">
            <input id="phone" type="text" name="phone" placeholder="请输入修改后的手机号" autocomplete="off" class="layui-input">
          </div>
          <div id="pp" class="layui-form-mid layui-word-aux">非必填</div>
          <div id="phoneMsg" class="layui-form-mid layui-word-aux"></div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">邮箱</label>
          <div class="layui-input-inline">
            <input id="email" type="text" name="email" placeholder="请输入修改后的邮箱" autocomplete="off" class="layui-input">
          </div>
          <div class="layui-form-mid layui-word-aux">非必填</div>
          <div id="emailMsg" class="layui-form-mid layui-word-aux"></div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">密码</label>
          <div class="layui-input-inline">
            <input id="password" type="password" name="pwd" placeholder="请输入密码(不少于6位)" autocomplete="off" class="layui-input">
          </div>
          <div class="layui-form-mid layui-word-aux">非必填</div>
          <div id="pwdMsg" class="layui-form-mid layui-word-aux"></div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">确认密码</label>
          <div class="layui-input-inline">
            <input id="password-again" type="password" name="" placeholder="请确认密码" autocomplete="off" class="layui-input">
          </div>
          <div id="pwdAgain-1" class="layui-form-mid layui-word-aux">非必填</div>
          <div id="pwdAgainMsg" class="layui-form-mid layui-word-aux"></div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">在校状态</label>
          <div class="layui-input-block">
            <input type="radio" name="school" value="离校" title="离校">
            <input type="radio" name="school" value="在校" title="在校" checked>
          </div>
        </div>
        <div class="layui-form-item layui-form-text">
          <label class="layui-form-label">意见反馈</label>
          <div class="layui-input-block">
            <textarea name="desc" placeholder="请输入修改意见" class="layui-textarea"></textarea>
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          </div>
        </div>
      </form>
    </div>
    <div th:replace="common::right-comm()"></div>
  </div>
</div>
<script type="text/javascript">
  //Demo
  layui.use('form', function(){
    var form = layui.form;

    //监听提交
    form.on('submit(formDemo)', function(data){
      layer.msg(JSON.stringify(data.field));
      return false;
    });
  });

  let login = document.getElementById("login");
  let phone = document.getElementById("phone")
  let email = document.getElementById("email")
  let pwd = document.getElementById("password");
  let pwdAgain = document.getElementById("password-again");
  let emailMsg = document.getElementById("emailMsg")
  let phoneMsg = document.getElementById("phoneMsg")
  let pwdMsg = document.getElementById("pwdMsg")
  let pwdAgainMsg = document.getElementById("pwdAgainMsg")

  // 判断电话号码
  phone.onblur = function (){
    let phoneReg = /1[3-9]\d{9}/g;
    if (phone.value !== "" && !phoneReg.test(phone.value)){
      phoneMsg.innerHTML = "电话号码错误"
    }else{
      phoneMsg.innerHTML = ""
    }
  }

  // 判断邮箱
  email.onblur = function (){
    let emailReg = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/g;
    if (email.value !== "" && !emailReg.test(email.value)){
      emailMsg.innerHTML = "邮箱错误"
    }else{
      emailMsg.innerHTML = ""
    }
  }

  // 判断密码
  pwd.onblur = function (){
    if (pwd.value.length < 6 && pwd.value.length !== 0){
      pwdMsg.innerHTML = "密码长度不足6位"
    }else{
      pwdMsg.innerHTML = ""
    }
    if (pwd.value !== ""){
      document.getElementById("pwdAgain-1").innerHTML = "必填"
      if (pwdAgain.value === ""){
        pwdAgainMsg.innerHTML = "确认密码不能为空"
      }
    }else{
      if (pwdAgain.value === ""){
        pwdAgainMsg.innerHTML = ""
      }
      document.getElementById("pwdAgain-1").innerHTML = "非必填"
    }
  }

  //验证密码
  pwdAgain.onblur = function (){
    if (pwd.value !== ""){
      if (pwdAgain.value === ""){
        pwdAgainMsg.innerHTML = "确认密码不能为空"
      }else if (pwdAgain.value !== pwd.value){
        pwdAgainMsg.innerHTML = "两次密码不一致"
      }else {
        pwdAgainMsg.innerHTML = ""
      }
    }else {
      pwdAgainMsg.innerHTML = ""
      if (pwdAgain.value !== ""){
        pwdAgainMsg.innerHTML = "两次密码不一致"
      }
    }
  }

  // 检测提交
  login.onsubmit = function (){

    if (phoneMsg.innerHTML !== ""){
      alert(phoneMsg.innerHTML)
      return false
    }

    if (emailMsg.innerHTML !== ""){
      alert(emailMsg.innerHTML)
      return false
    }

    if (pwdMsg.innerHTML !== ""){
      alert(pwdMsg.innerHTML)
      return false
    }

    if (pwdAgainMsg.innerHTML !== ""){
      alert(pwdAgainMsg.innerHTML)
      return false
    }

    alert("提交成功")

  }
</script>
</body>
</html>