<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dorm.mapper.ReplaceMapper">
    <select id="getBuildingIdByName" parameterType="String" resultType="Integer">
        SELECT ID
        FROM A_BUILDING
        WHERE NAME = #{name}
    </select>
    <select id="getDormIdByName" parameterType="BuildingIdDormName" resultType="Integer">
        SELECT ID
        FROM A_DORM
        WHERE NAME = #{DormName} AND BUILDING_ID = #{BuildingId}
    </select>
    <select id="getAllHaveNullDorm" parameterType="integer" resultType="dorm">
        select *
        from A_DORM
        where BUILDING_ID = #{buildingId} AND NUM_LEFT != 0;
    </select>
    <select id="selectAll" resultType="Replace">
        select *
        from A_REPLACE
    </select>
</mapper>